* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow-y: visible;
  overflow-x: hidden;
}
.containerrr {
  height: 100vh;
  width: 100vw;
  overflow-y: visible;
  overflow-x: hidden;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 300;
  background-color:white;
}
.navbarrr {
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 300;
  background-color:white;
}
.logo {
  font-family: "Times New Roman", "Times Roman", serif !important;
  font-size: 30px;

  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.logoo {
  font-family: "Times New Roman", "Times Roman", serif !important;
  font-size: 30px;

  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.logo a {
  text-decoration: none;
  color: black;
}
.logoo a {
  text-decoration: none;
  color: black;
}
.links {
  display: flex;
  justify-content: space-between;

  width: 60%;
}
.links a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-top: 10px;
}
.links a:hover {
  color: red;
}
.lbtn {
  border-radius: 20px;
  width: 120px;
  height: 33px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}
.lbtn:hover {
  background-color: white;
  border: 1px solid red;
  color: red;
}
.lbtn:focus {
  outline: 0;
}
.left-nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 10px;
  padding-right: 10px;
}
.pic2{
  display:none;
}
.bx {
  font-size: 30px;
  cursor: pointer;
}
.bx:hover {
  color: red;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.burger {
  display: none;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.body{
  height:90vh;
  background-color: rgba(247, 244, 244, 0.178);
  width: 100vw;
  margin-top: 10vh;
}
.text-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.text{
  width: 50%;
  padding-left: 30px;
  padding-top:70px;
}
.text>:first-child{
    font-size: 40px;
    color: red;
    padding: 20px;
}
.text>:last-child{
  font-size: 25px;
  padding-left: 25px;
  
}
.circle{
  background-color: red;
  clip-path: circle(38% at right bottom);
  position:fixed;
  width: 100%;
  height: 100%;

  
  top: 0;
  left: 0
}
.slider{
  
  width:100%;
  height: 85%;
  position: relative;
  background-color: red;
  
}
.bx1{
  color: rgb(201, 199, 199);
  font-size: 45px;
  cursor: pointer;
  position: absolute;
}
.bx1:hover{
  color: white  !important;
}
.bx:hover{
  color:red;
}
.bxs-chevron-left{
  top:50%;
  transform:translateY(-50%) ;
  z-index: 300;
}
.bxs-chevron-right{
  top:50%;
  transform:translateY(-50%) ;
  right: 0;
  z-index: 300;
}
.img-slides{
  width: 100%;
  height: 100%;
}
.img1{
  
  position: absolute;
  transition: opacity .5s ease-in-out;
}
.img2{
  
  position: absolute;
  transition: opacity .5s ease-in-out;
}
.img3{
  
  position: absolute;
  transition: opacity .5s ease-in-out;
}
.img4{
  
  position: absolute;
  transition: opacity .5s ease-in-out;
}
.img5{
  
  position: absolute;
  transition: opacity .5s ease-in-out;
}
.img6{
  
  position: absolute;
  transition: opacity .5s ease-in-out;
}
.gallerie7{
  box-shadow: 7px 4px 8px 5px rgba(0,0,0,0.2);
  height: 50vh;
  width: 50vw;
  margin-left: 50%;
  transform:translateX(-50%) ;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}
.stores{
width: 100%;
height: 15%;

display: flex;
justify-content: space-between;
border-bottom: black 1px solid;

}
.fab{
  padding: 15px;
  font-size: 25px;
  cursor: pointer;
}
.fab:hover{
  color: red;
}
.stores a:visited{
 color: black;
}
.utube{
  box-shadow: 7px 4px 8px 5px rgba(0,0,0,0.2);
  margin-top: 50px;
  width: 60vw;
  height: 50vh;
  position: relative;
  padding: 10px;
  border: 1px solid black;
  margin-left: 50%;
  transform:translateX(-50%) ;
  display: flex;
}
.albums{
  margin-top: 15vh;
  width: 100%;
  height: 70vh;
}
.vid{
  width: 70%;
  height: 90%;
  padding: 10px;
  margin-top: 10px;
}
.vid-text{
  width: 30%;
  height: 100%;
  padding: 10px;
  
}
.formm{

  width: 60%;
 

 
 margin-top: 100px;  
 margin-left: 50%;
 transform: translateX(-50%);
  

  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 20px;
}
.vid-text p{
  line-height: 1.5;
}
.share{
  display: flex;
  align-items: center;
  
}
.share p{
  margin-right:1rem ;
  font-size: 18px;
  font-weight: bold;
}
.share a{
 color: black;
 margin-right:6px ;
}
.share a:hover{
  color: red;
}
.share a i{
  font-size: 25px;
}
.utube-social{
  display: flex;
}
.album-wrapper{
  width: 60%;
  height:50%;
 padding:10px; 
 
 margin-top: 100px;  
 margin-left: 50%;
 transform: translateX(-50%);
 display: flex;
 justify-content: space-between;
}
.album-wrapper img{
  height: 100%;
}
.album-text{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
.songs-list{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

}
.songs-list ul li {
  font-size: 20px;
  list-style: none;
  padding-top: 5px;
}
.number{
  font-weight: 900;
  margin-right: 7px;
}
.contact-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footerr{
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
  margin-left: 50px;
  width: 90%;
}
.footerr p{
  line-height: 5;
  font-size: 18px;
}
.footerr p span{
  color: red;
  padding-right: 7px;
  font-weight: bolder;
}
@media (max-width:916px){
  .text-wrapper{
    flex-direction: column;

  }
  .text{
    
    width: 100%;
    padding-bottom: 50px;
  }
  .text>:first-child{
    font-size: 30px;
    padding: 5px;
    
}
.text>:last-child{
  font-size: 20px;
  
  padding: 5px;
  
}
  
}
@media (max-width: 1132px) {
  .footerr{
      
    margin-top: 80px;
    margin-left: 0;
    bottom: 0;
    flex-direction: column;
    width: 100%;
    display: flex;
    position:initial;
}
.map{
    width: 100%;
}
.footerr p{
    margin-top: 30px;
    line-height: 1.7;
    font-size: 14px;
}
  .formm{
    width: 100%;
    margin-left: 0;
    transform: none;
    padding: 10px;
    border: none;
   
}
  .slider{
    height: 50%;
  }
  .gallerie7{
    height: 60vh;
    width: 100vw;
    margin-left: 50%;
    transform:translateX(-50%) ;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
  }
  .container{
    overflow-y: visible;
    overflow-x: hidden;
  }
  .text{
    padding-left: 0;
  padding-top:0;
  }
 
  .navbar{
    width: 100%;
    padding: 0;
    height: 10%;
   
    
  }
  .navbarrr{
    width: 100%;
    padding: 0;
    height: 10%;
   
    
  }
  .utube{
    flex-direction: column;
    height: max-content;
    width: 90%;
   }
   .vid-text{
       width: 100%;
       height: max-content;
       padding-right: 5px;
   }
   .vid{
       width: 90%;
       padding: 10px;
      
   }
  
  .bx{
    font-size: 40px;
    
  }
  .burger {
    display: block;
    margin-top: 1%;
    pointer-events: all;
  }
  .links {
    flex-direction: column;
    height: 40%;
    align-items: center;
    width: 99%;
  }
  .links a {
    font-size: 30px;
  }
  .logo {
    width: 93%;
    position: fixed;
    z-index: 69;
    top: 1rem;
    pointer-events: all;
  }
  .logoo {
    width: 93%;
    position: fixed;
    z-index: 69;
    top: 1rem;
    pointer-events: all;
  }
  .left-nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 30%;
  }
  .lbtn {
    height: 45px;
    width: 150px;
    font-size: 20px;
  }
  .nav-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  .nav-wrapper.active{
    transform: translateX(0);
  }
  .circle{
    z-index: -1;
    clip-path: circle(50% at right bottom);
}
  .pic1{
    display: none;
  }
  .pic2{
    display: block;
  }
  .album-wrapper{
    margin-top: 10px;
    width: 90%;
    flex-direction: column;
    height: max-content;
    padding: 0;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 0 none 10px 3px  rgba(0,0,0,0.2);
}
.album-wrapper img{
    width: 70%;
    margin-bottom: 16px;
    box-shadow: 7px 4px 8px 5px rgba(0,0,0,0.2);
}
.songs-list{
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 20px;
}
.album-wrapper h1{
    font-size: 23px;
    margin-bottom: 15px;
}

.number{
    display: none;
}
.songs-list ul li {
   font-size: 15px;
    padding-top:10px ;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(241, 131, 131, 0.363);
   
}
.songs-list ul {
    width: 100%;
}
}
